@font-face {
	font-family: AnjaEliane; 
	src: url(AnjaEliane.ttf);
}

@font-face {
    font-family: BabelSans;
    src: url(BabelSans.ttf);
    font-style: normal;
}

@font-face {
    font-family: BabelSans-Bold;
    src: url(BabelSans-Bold.tff);
    font-style: bold;
}
@font-face {
    font-family: BabelSansOblique;
    src: url(BabelSansOblique.tff);
    font-style: oblique;
}

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    font-family: BabelSans;
    color: black;
    background-color: white;
}

a
 {
    display:inline-block;
    text-decoration: none;  
}

p
{
    color: black;
    font-size: 1rem;
}

h1 {
	font-family: AnjaEliane;
}

h2 {
    font-family: AnjaEliane;
    color: black;
    font-size: 3rem;
}

h3 {
    font-family: AnjaEliane;
    color: black;
    text-align: center;
}

h5 {
    font-family: AnjaEliane;
    color: black;
    font-size: 2rem;
}

header
{
    padding: 5px 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color:#660000;
}

header .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo
{
    width: 100px;
    margin-left: 25px;
    margin-bottom: 5px;
}

header .container nav a
{
    font-family: AnjaEliane;
    color: white;
    margin: 0 20px;
    font-size: 1.5rem;
}

header .container .hamb
    {
        display: none;
        position: relative;
    }

footer.seccion
{
    background-color: #660000;
    color: white;
    padding-bottom: 0;
    padding-top: 1rem;
}

footer .barra-footer
{
    background-color: black;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
    font-size: 1rem;
}

footer .logo-footer
{
    display: block;
    width: 60%;
    margin: auto;
}

footer p
{
    color: white;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: justify;
}

footer h5 {
    text-align: center;
    margin: 5px 5px;
    text-shadow: 1px 1px white;
}

footer ul
{
    padding-left: 0;
    list-style: none;
    margin: 0;
}

footer ul li
{
    margin-bottom: 10px;
    color: white;
    text-align: center;
}

footer a
{
    color: white;
}

footer .redes
{
    font-size: 4rem;
    display: flex;
    justify-content: center;
}

footer .redes a
{
    margin: 0 10px;
}

.seccion
{
    padding-top: 25px;
    padding-bottom: 25px;
}

.container
 {
    width: 1140px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
 }

.container-fluid
 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
 }

.row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-right: 25px;
 }

 .columna
 {
    padding-right: 15px;
    padding-left: 15px;
 }

.columna-16-6 
{
    width: 16.6%;
}

.columna-25 {
    width: 25%;   
}

.columna-50 
{
    width: 50%;
}

 .empujar-50
 {
    margin-left: 50%;
 }


#inicio
{
    position: relative;
}

#inicio .background {
    width: 100%;
}

#inicio img
{
    width: 100%;
    display: block;
    margin-top: 40px;
}

#inicio .bloque-inicio
{
    position: absolute;
    top: 5%;
    left: 20%;
    width: 400px;
    text-align: center;
    margin-left: -200px;
}

#inicio .bloque-inicio h1
{
    color: white;
    font-size: 3rem;

}

#inicio .bloque-inicio p
{
    font-style: bold;
    color: black;
    font-size: 16px;
}

#inicio .logo-bubbo {
    width: 300px;
    position: absolute;
    bottom: 15%;
    right: 10%;
    margin-left: -200px;
}

#nosotros {
    background-image: url(img/paw-print.jpg);
    background-size: cover;
    color: white;
    text-align: center;
}

#nosotros .seccion {
    padding-top: -25px;
    padding-bottom: -25px; 
}

#nosotros img {
    width: 444px;
    height: 444px;
    border-radius: 300px;
    justify-content: space-around;
}

#marcas {
    position: relative;
    background-color: white;
}

#marcas h2 {
    text-align: center;
}

#marcas .marcas img {
    width: 170px;
    height: 80px;
    border-radius: 20px;
    padding: 10px 10px;
}

#carrusel {
    float:left;
    width:1200px;
    overflow:hidden;
    height:406px;
    position:relative;
    margin-top:20px;
    margin-bottom:20px;
}

#carrusel .left-arrow {
    position:relat;
    width: 20px;
    height: 20px;
    left:10px;
    z-index:1;
    top:50%;
    margin-top:-9px;
}

#carrusel .right-arrow {
    position:absolute;
    width: 20px;
    height: 20px;
    left:10px;
    z-index:1;
    top:50%;
    margin-top:-9px;
}

#carrusel .carrusel {
    width:4000px;
    left:0px;
    position:absolute;
    z-index:0;

}

#carrusel .carrusel>div {
    float: left;
    height: 203px;
    margin-right: 5px;
    width: 390px;
    text-align:center;
}
 
#carrusell .carrusel img {
    cursor:pointer;
}

.producto {
    border:#CCCCCC 1px solid;
}
 